.vscode
*pycache*
data
*.pyc
*.npy
plot

# no original datasets
data/datasets/REALDISP
data/datasets/SBHAR
data/datasets/unimib_dataset
data/datasets/merged_unimib_sbhar
data/datasets/REALDISP_processed/OuterPartition*
data/datasets/SBHAR_processed/OuterPartition*
data/datasets/UNIMIB_processed/OuterPartition*
data/parameters/
log*
prova_lr.py
exp.txt
mean_cross_validation.py
save_show_plot.py
test_metrics.py
metrics_original_unimib.pickle
*.png
mean_performance