.vscode
*pycache*
#data/*
*.pyc
#*.npy

# no original datasets
data/datasets/REALDISP
data/datasets/SBHAR
data/datasets/unimib_dataset
data/datasets/merged_unimib_sbhar
data/datasets/REALDISP_processed/OuterPartition*
data/datasets/SBHAR_processed/OuterPartition*
data/datasets/UNIMIBDataset/OuterPartition*
!data/datasets/UNIMIBDataset/OuterPartition_5.0
!data/datasets/SBHAR_processed/OuterPartition_5.0
!data/datasets/SBHAR_processed/OuterPartition_magnitude_sbhar_six_adl_5.0
data/parameters/
log*
prova_lr.py
exp.txt
mean_cross_validation.py
save_show_plot.py
test_metrics.py
metrics_original_unimib.pickle
*.png